.ultra_super_unique_loader_container_2025 {
  position: relative;
  width: 80px;
  height: 80px;
}

.ultra_super_unique_loader_dot_2025 {
  position: absolute;
  top: -100px;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.2;
  animation: ultra_super_unique_fade_2025 1s linear infinite;
}

@keyframes ultra_super_unique_fade_2025 {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.ultra_super_unique_app_wrapper_2025 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}