.ultra_super_unique_loader_container_2025 {
  position: relative;
 
  width: 80px;
  height: 80px;
}

.ultra_super_unique_loader_dot_2025 {
  position: absolute;
  top: -180px;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.2;
  animation: ultra_super_unique_fade_2025 1s linear infinite;
}

@keyframes ultra_super_unique_fade_2025 {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.ultra_super_unique_app_wrapper_2025 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

#global{
  width:70px;
  margin:auto;
  margin-top:50px;
  position:relative;
  top:50px;
  cursor:pointer;
  height:60px;
}

.mask{
  position:absolute;
  border-radius:2px;
  overflow:hidden;
   perspective: 1000;
  backface-visibility: hidden;
}

.plane{
  background:black;
  width:400%;
  height:100%;
  position:absolute;
  
  transform : translate3d(0px,0,0);
  /*transition: all 0.8s ease; */
  z-index:100;
  perspective: 1000;
  backface-visibility: hidden;
  
}
 
.animation{
  transition: all 0.3s ease;
}


 
#top .plane{
  z-index:2000;
  animation : trans1 1.3s ease-in infinite  0s backwards;
}
#middle .plane{
  transform : translate3d(0px,0,0);  
  background : #bbbbbb;
  animation : trans2 1.3s linear infinite  0.3s  backwards;

}
#bottom .plane{
  z-index:2000;
  animation : trans3 1.3s ease-out infinite  0.7s backwards;
}



#top{
  width:53px;
  height:20px;
  left:20px;
  transform: skew(-15deg, 0);
  z-index:100;
}

#middle{
  width:33px;
  height:20px;
  left:20px;
  top:15px;
  
  transform: skew(-15deg, 40deg)
}
#bottom{
  width:53px;
  height:20px;
  top:30px;  
  transform: skew(-15deg, 0)
}



@keyframes trans1{ 
  from { 
    transform : translate3d(53px,0,0)
  }
  to { 
    transform : translate3d(-250px,0,0)
  }
}

@keyframes trans2{ 
  from { 
    transform : translate3d(-160px,0,0)
  }
  to { 
    transform : translate3d(53px,0,0)
  }
}

@keyframes trans3{ 
  from { 
    transform : translate3d(53px,0,0)
  }
  to { 
    transform : translate3d(-220px,0,0)
  }
}

@keyframes animColor{ 
  from { 
    background : red;
  }
  25%{
    background : yellow;
  }
  50%{
    background : green;
  }
  75%{
    background : brown;
  }
  to { 
    background : blue;
  }
}
.loaderld{
  position: relative;
  top:90px;
  color:black;


}